{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시판 | {% block title %}{% endblock title %}</title>
  {% bootstrap_css %}
</head>
<body>
  <nav class="container">
    {% if user.is_authenticated %}
      <p>반갑습니다. {{ user.username }}</p>
      <form action="{% url 'accounts:logout' %}" method="POST">
        {% csrf_token %}
        <button class="btn btn-primary" type="submit">로그아웃</button>
      </form>
    {% else %}
      <a href="{% url 'accounts:signup' %}">회원가입</a>
      <a href="{% url 'accounts:login' %}">로그인</a>
    {% endif %}
  </nav>
  <hr>
  <div class="container">
    <h1>나의 게시판</h1>
    <a href="{% url 'articles:index' %}">목록으로</a>
    {% block body %}{% endblock body %}
  </div>
  {% bootstrap_javascript %}
</body>
</html>